body {
  background-color: #0f0f0f;
  font-family: 'Orbitron', sans-serif;
}

h1, h3, h4 {
  color: #f0db4f;
}

p, li {
  font-size: 1rem;
  color: #ccc;
}

ul {
  list-style-type: square;
  padding-left: 1.5rem;
}

iframe {
  border: 2px solid #f0db4f;
  border-radius: 12px;
}

.img-fluid {
  width: 100%; /* Ajusta el ancho al contenedor */
  max-width: 150px; /* Tamaño máximo para pantallas pequeñas */
  height: auto; /* Mantiene la proporción */
  object-fit: contain; /* Asegura que la imagen no se deforme */
  align-items: center;
}