body {
  background-color: #121212;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.img-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  padding: 10px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.img-fit {
  height: 100%;
  width: auto;
  object-fit: contain;
  align-items: center;
  justify-content: center;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card-title {
  font-size: 1.2rem;
}

.text-center2 {
  color: #f0db4f;
}
